:root {
    --main-bg-color: #1f69e0;
    --secondary-bg-color: #823de3;
    --mainArea-bg-color: #0780b0;
    font-family: Helvetica;
}

.upperAndLowerBar {
    background-color: var(--main-bg-color);
}

.upperTitleBar {
    border: solid black;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(to bottom, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
}

.boxShadows {
    box-shadow: 10px 10px 5px black;
}

#headerText {
    color: black;
    text-align: center;
}

.lowerBar {
    height: 80px;
}

.sideBars {
    background-color: var(--secondary-bg-color);
    z-index: 1;
}

.col-left {
    font-size: larger;
}

.col-right {
    font-family: Times New Roman;
    font-size: larger;
}

.middleRow {
    height: 600px;
}

.mainArea {
    background-color:var(--mainArea-bg-color);
}

.question {
    font-size: x-large;
    color: black;
}

.headerText {
    font-size: xx-large;
    font-family: verdana;
    text-align: center;
}

.btnColor {
    background-color: #748ced;
    color: hsl(0, 0%, 0%);
    border: 3px solid black; 
    border-radius: 25px;
}

.answer {
    font-size: larger;
    color: black;
}

.answerBlock {
}

tr:hover {
    background-color: var(--secondary-bg-color);
}
/* .col {
    border: dotted black;
} */

/* * {
    font-size: large;
    text-align: center;
}







.summary {
    font-size: x-large;
    color: black;
}



.btn {
    padding: 5px;
}

.body {
    background-image: url(https://previews.123rf.com/images/rungaroon/rungaroon1410/rungaroon141000640/32923640-the-concept-of-thinking-background-with-brain-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

