:root {
    --main-bg-color: #1f69e0;
    --secondary-bg-color: #823de3;
    --mainArea-bg-color: #0780b0;
    font-family: Helvetica;
}

.upperAndLowerBar {
    background-color: var(--main-bg-color);
}

.upperTitleBar {
    border: solid black;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(to bottom, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
}

.titleBarShadow {
    box-shadow: 10px 10px 5px black;
}

.boxShadows {
    box-shadow: 0px 0px 20px black;
}

#headerText {
    color: black;
    text-align: center;
}

.lowerBar {
    height: 80px;
}

.sideBars {
    background-color: var(--secondary-bg-color);
    z-index: 1;
}

.col-left {
    font-size: larger;
}

.col-right {
    font-family: Times New Roman;
    font-size: larger;
}

.middleRow {
    height: 600px;
}

.mainArea {
    background-color:var(--mainArea-bg-color);
}

.question {
    font-size: x-large;
    color: black;
    background-color: var(--main-bg-color);
    text-align: center;
}

.headerText {
    font-size: xx-large;
    font-family: verdana;
    text-align: center;
    font-weight: bold;
}

.btnColor {
    background-color: #748ced;
    color: hsl(0, 0%, 0%);
    border: 3px solid black; 
    border-radius: 25px;
}

.answer {
    font-size: larger;
    color: black;
}

.answerBlock {
    
}

tr:hover {
    background-color: var(--secondary-bg-color);
    font-weight: bold;
}

.summary {
    font-size: x-large;
    color: black;
}

/* @font-face {
    font-family: myFirstFont;
    src: url(E:\Ohjelmointi\Diginikkarit\Harjoitukset\Fontti);
} */

