* {
    font-size: large;
}

.header {
    font-size: xx-large;
    font-family: verdana;
}

.question {
    font-size: x-large;
    color: rgb(87, 12, 117);
    font-family: Helvetica;
}

h1 {
    color: #f70f0f;
}

.btnColor {
    background-color: #748ced;
    color: hsl(0, 0%, 0%);
}

.btn {
    padding: 5px;
}

.body {
    background-image: url(https://previews.123rf.com/images/rungaroon/rungaroon1410/rungaroon141000640/32923640-the-concept-of-thinking-background-with-brain-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}